<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MINI.Properties.Settings.QuanLySieuThiConnectionString"
            connectionString="Data Source=LAPTOP-1OI04F38;Initial Catalog=QuanLySieuThi;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="MINI.Properties.Settings.MiniMarketConnectionString"
            connectionString="Data Source=LAPTOP-1OI04F38;Initial Catalog=MiniMarket;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>